body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
}

.container {
    border-radius: 5px;
}

.margin-left {
    margin-left: 40px;
    font-size: 20px;
}

.square {
    width: auto;
    height: 220px;
    background-color: rgba(100, 100, 100, 0.5);
}

@media screen and (max-width: 990px) {
    .col-lg-6 {
        margin-top: 70px;
    }
}

@media screen and (max-width: 770px){
    .square {
        display: none;
    }
}

@media screen and (max-width: 770px){
    .dis {
        display: none;
    }
}

.frame {
    width: auto;
    height: 220px;
    background-color: rgba(163, 146, 127, 0.5);
    transition: 1s;
}

.my-video {
    margin-top: 80px;
    width: 100%;
    max-width: 850px;
    height: 500px;
}

.my-video-2 {
    width: 100%;
    max-width: 1500px;
    height: 700px;
}

.card {
    margin-top: 100px;
}

.form {
    width: 500px;
    height: 300px;
    background-color: rgba(100, 100, 100, 0.5);
}

.img-card {
    margin-top: 50px;
    width: 300px;
    height: 200px;
}

.transform {
    transition: 1s;
   }

.figure:hover .transform {
    transform: scale(1.2);
   }

.text-decoration-none {
    color: white;
}

.h1-style {
    margin-top: 100px;
    color: white;
}

.circle {
    margin-top: 20px;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: red;
    transition: 1s;
}

.emergence {
    opacity: 0;
    transition: 1.5s;
    font-size: 25px;
    animation: text 5s infinite;
}

span.navbar-brand:hover img.circle  {
    transform: scale(2);
}

span.navbar-brand:hover .emergence  {
    opacity: 1;
}

.div-stripe {
    margin-top: 40px;
    margin-bottom: 20px;
    width: 350px;
}

@keyframes text {
    20% {
        color: bisque;
    }
    50%{
        color: cornflowerblue;
    }
    70% {
        color: burlywood;
        font-size: 35px;
    }
}

.font-size {
    font-size: 10px;
}

.card-back {
    background-color: rgba(100, 100, 100, 0.7);
}

.figure {
    background-color: rgba(100, 100, 100, 0.5);
    border-radius: 5px;
}

.figure:hover {
    background-color: rgba(163, 146, 127, 0.5);
    transition: 1s;
}

.inscription {
    margin-top: 60px;
    transition: 1s;
    font-size: 100px;
    color: bisque;
}

.inscription1 {
    margin-top: 60px;
    transition: 1s;
    font-size: 80px;
    color: bisque;
}

.inscription2 {
    transition: 1s;
    font-size: 80px;
    color: bisque;
    line-height: 120px;
}


.figure:hover .inscription {
    color: cornflowerblue;
    transform: scale(1.2);
}
.figure:hover .inscription1 {
    color: cornflowerblue;
    transform: scale(1.2);
}
.figure:hover .inscription2 {
    color: cornflowerblue;
    transform: scale(1.2);
}

.text-contacts {
    margin-top: 70px;
    font-size: 30px;
}

.blue {
    color: cornflowerblue;
}

a {
    transition: 1s;
}

.m-t {
    margin-top: 300px;
}

.form-for-user {
    margin-top: 100px;
    color: white;
    background-color: rgba(100, 100, 100, 0.5);
}
