{% extends 'base.html' %}
{% load static %}
{% block title %}
    Contacts
{% endblock %}
{% block body %}
    {% static 'images/phone-3594206_1920.jpg' %}
{% endblock %}
{% block content %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container text-white" style="background-color: rgba(100, 100, 100, 0.7)">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <p class="text-contacts d-block">Contacts: <a href="tel:+79100000000" class="text-decoration-none">+7 (910) 000 00
                        00 </a></p>
                    <p class="text-contacts d-block">Email: <a href="mailto:someemail@gmail.com" class="text-decoration-none">someemail@gmail.com</a>
                    </p>
                </div>
                <div class="col text-center">
                    <p class="text-contacts d-block">Visit Us:</p>
                    <p class="d-block text-contacts">
                        <a href="https://instagram.com/russia_wide?utm_medium=copy_link" class="text-decoration-none"><i
                                class="fab fa-instagram fa-3x">&nbsp;&nbsp;</i></a>
                        <a href="https://www.youtube.com/channel/UCrk2nNOje_qza0rrpJe5i0g" class="text-decoration-none"><i
                                class="fab fa-youtube fa-3x">&nbsp;&nbsp;</i></a>
                        <a href="https://vk.com/public201817013" class="text-decoration-none"><i
                                class="fab fa-vk fa-3x"></i></a>
                    </p>
                </div>
            </div>
            <p class="lead text-center m-t">Copyright &copy; 2021 SMLK</p>
        </div>
    </div>

{% endblock %}