{% extends 'base.html' %}
{% load static %}
{% block title %}
    Home Page
{% endblock %}
{% block content %}
{#    <div class="container div-stripe text-center">#}
{#        <div class="container-style">#}
{#            <span class="span-stripe"></span>#}
{#            <span class="span-stripe"></span>#}
{#            <span class="span-stripe"></span>#}
{#            <span class="span-stripe"></span>#}
{#            <span class="span-stripe"></span>#}
{#            <span class="span-stripe"></span>#}
{#            <span class="span-stripe"></span>#}
{#            <span class="span-stripe"></span>#}
{#            <span class="span-stripe"></span>#}
{#        </div>#}
{#    </div>#}
    <h1 class="text-center h1-style fst-italic">The Latest News:</h1>
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="3000">
                <div class="container square">
                </div>
                <div class="carousel-caption d-none d-md-block text-white">
                    <h5>{{ news.0.0 }}</h5>
                    <p><a href="{{ news.0.1 }}" class="text-decoration-none blue">{{ news.0.1 }}</a></p>
                    <p>{{ news.0.2 }}</p>
                    <p>{{ news.0.3 }}</p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <div class="container square">
                </div>
                <div class="carousel-caption d-none d-md-block text-white">
                    <h5>{{ news.1.0 }}</h5>
                    <p><a href="{{ news.1.1 }}" class="text-decoration-none blue">{{ news.1.1 }}</a></p>
                    <p>{{ news.1.2 }}</p>
                    <p>{{ news.1.3 }}</p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <div class="container square">
                </div>
                <div class="carousel-caption d-none d-md-block text-white">
                    <h5>{{ news.2.0 }}</h5>
                    <p><a href="{{ news.2.1 }}" class="text-decoration-none blue">{{ news.2.1 }}</a></p>
                    <p>{{ news.2.2 }}</p>
                    <p>{{ news.2.3 }}</p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <div class="container square">
                </div>
                <div class="carousel-caption d-none d-md-block text-white">
                    <h5>{{ news.3.0 }}</h5>
                    <p><a href="{{ news.3.1 }}" class="text-decoration-none blue">{{ news.3.1 }}</a></p>
                    <p>{{ news.3.2 }}</p>
                    <p>{{ news.3.3 }}</p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <div class="container square">
                </div>
                <div class="carousel-caption d-none d-md-block text-white">
                    <h5>{{ news.4.0 }}</h5>
                    <p><a href="{{ news.4.1 }}" class="text-decoration-none blue">{{ news.4.1 }}</a></p>
                    <p>{{ news.4.2 }}</p>
                    <p>{{ news.4.3 }}</p>
                </div>
            </div>
        </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <div class="container text-center">
        <iframe class="my-video" src="{% static 'video/Russian with Yulyasha. Lesson 1. Basic phrases and more!.mp4' %}">
        </iframe>
    </div>

    <br>
    <br>
    <br>

    <div class="container">
        <div class="row justify-content-around">
          <div class="col-4 text-center form">
              <img src="{% static 'images/12.png' %}" class="img-card transform" alt="...">
          </div>
          <div class="col-4 text-center form">
              <img src="{% static 'images/13.png' %}" class="img-card transform" alt="...">
            </div>
        </div>

        <br>
        <br>
        <br>
        <br>
        
        <div class="row justify-content-around">
          <div class="col-4 text-center form">
              <img src="{% static 'images/14.png' %}" class="img-card transform" alt="...">
          </div>
          <div class="col-4 text-center form">
              <img src="{% static 'images/15.png' %}" class="img-card transform" alt="...">
          </div>
        </div>
    </div>

    <script src="{% static 'JS/javaScript.js' %}"></script>

{% endblock %}