{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
    Comment video
{% endblock %}
{% block body %}
    {% static 'images/iphone-1836071_1920.jpg' %}
{% endblock %}
{% block content %}

    <div class="container">
        <div class="card mb-3 card-back text-center">
          <div class="card-body">
              <div class="container">
                  <video class="my-video-2" controls="controls">
                      <source src="{{ video.image.url }}" type="video/mp4">
                  </video>
              </div>
              <div class="card-body text-white">
                  <p class="card-text text-end font-size">{{ video.date }}</p>
                  <h5 class="card-title text-center">{{ video.name }}</h5>
                  <p class="card-text text-center">{{ video.description }}</p>
                  <form class="text-center" method="post">
                      {% csrf_token %}
                      <div class="container">
                        {{ form|crispy }}
                      </div>
                      <button class="btn btn-secondary" type="submit">submit</button>
                  </form>
              </div>
          </div>
            <br>
            <a class="text-decoration-none" href="{% url 'video' %}"><i class="fas fa-undo-alt"></i>&nbsp;Return</a>
        </div>
    </div>

{% endblock %}