{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
    Comment photo
{% endblock %}
{% block body %}
    {% static 'images/camera-188083_1920.jpg' %}
{% endblock %}
{% block content %}

    <div class="container">
        <div class="card mb-3 card-back text-center">
          <img src="{{ photo.image.url }}" class="card-img-top" alt="...">
          <div class="card-body text-white">
              <p class="card-text text-end font-size">{{ photo.date }}</p>
              <h5 class="card-title text-center">{{ photo.name }}</h5>
              <p class="card-text text-center">{{ photo.description }}</p>
              <form class="text-center" method="post">
                  {% csrf_token %}
                  <div class="container">
                  {{ form|crispy }}
                  </div>
                  <button class="btn btn-secondary" type="submit">submit</button>
              </form>
          </div>
            <br>
            <a class="text-decoration-none" href="{% url 'photo' %}"><i class="fas fa-undo-alt"></i>&nbsp;Return</a>
        </div>
    </div>

{% endblock %}