{% extends 'base.html' %}
{% load static %}
{% block title %}
    Photo delete
{% endblock %}
{% block body %}
    {% static 'images/iphone-1836071_1920.jpg' %}
{% endblock %}
{% block content %}

    <div class="container">
        <div class="card mb-3">
            <div class="card-body">
                <div class="container">
                    <form class="text-center" method="post">
                        {% csrf_token %}
                        <label>
                            <video class="my-video-2" controls="controls">
                                <source src="{{ video.image.url }}" type="video/mp4">
                            </video>
                        </label>
                        {% if user.is_authenticated %}
                            <button class="btn btn-secondary" type="submit">delete</button>{% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}