{% extends 'base.html' %}
{% load static %}
{% block title %}
    News Page
{% endblock %}
{% block body %}
    {% static 'images/laptop-3174729_1920.jpg' %}
{% endblock %}
{% block content %}
    <div class="container form-for-news text-white text-center">
        <img src="{{ news }}" width="100%" style="max-width: 1000px;" alt="...">
        <a href="{% url 'main_news_detail' %}" class="text-decoration-none">
            <h1>{{ text_main }}</h1>
            <p>{{ text }}</p>
            <p class="text-end">(The Moscow Times)</p>
            <br>
        </a>
    </div>

    <div class="container text-center text-white">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for item in list %}

                <div class="col">
                    <div class="card card-back">
                        <img src="{{ item.1 }}" class="card-img-top" alt="...">
                        <a href="{% url 'news_detail' item.0 %}" class="text-decoration-none">
                        <div class="card-body">
                            <h5 class="card-title">{{ item.2 }}</h5>
                            <p class="card-text">{{ item.3 }}</p>
                            <p class="text-end">(The Moscow Times)</p>
                        </div>
                        </a>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>

{% endblock %}